{% extends 'base.html' %}

{% block content %}

<h2>Ultimas teclas capturadas:</h2>
{% if saves %}

    {% for save in saves %}

    <div class="parte-pc">
        <div class="header-parte-pc">
            <h3>Nome PC: {{save.pcname.capitalize()}}</h3>
            <p class="data">{{save.data.strftime("%d/%m/%Y %H:%M")}}</p>
        </div>
        <p class="texto">{{save.texto}}</p>
        <p class="criador">Criador: {{save.criador}}</p>
    </div>

    {% endfor %}
{% else %}
    <p>Nenhum dado salvo </p>
{% endif %}
{% endblock %}
