{% extends 'base.html' %}

{% block content %}
<div class="save">
    <h2 class="nome">{{save.pcname.capitalize()}}</h2>
    <p class="data"></p>
    <p class="texto">{{save.texto}}</p>

    <table>
        <tr>
            <th>Altor</th>
            <td>{{save.criador}}</td>
        </tr>
        <tr>
            <th>Data</th>
            <td>{{save.data.strftime("%d/%m/%Y %H:%M")}}</td>
        </tr>
        <tr>
            <th>IP</th>
            <td>{{save.ip}}</td>
        </tr>
        <tr>
            <th>Latitude</th>
            <td id="lat">--</td>
        </tr>
        <tr>
            <th>Longitude</th>
            <td id="lon">--</td>
        </tr>
    </table>
</div>

<script src="{{url_for('static', filename='js/save.js')}}"></script>
<script>
    window.onload = gerarLatLong('http://ip-api.com/json/{{save.ip}}');
</script>


{% endblock %}
